body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(224, 224, 224, 0.548)
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  padding: 3rem;
}

.registerContainer {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 4rem;
  text-align: center;
}

.loginContainer {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 4rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
}

form button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
}

form button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

ul li a {
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  text-decoration: underline;
}

.product-detail {
  padding: 2rem;
  border: 2px solid #ccc;
  margin: 2rem 0;
}

.product-detail h2 {
  margin-top: 0;
  font-size: 2rem;
}

.product-detail p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.product-detail button {
  padding: 0.5rem 2rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.containerHome {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 40px;
}

.product-item {
  border: 3px solid #ccc;
  border-radius: 10px;
  padding-inline-start: 5px;
  overflow: hidden;
  box-shadow: 0 1px 20px gray;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-link {
  display: block;
  text-decoration: none;
  color: #333;
}

.product-image {
  width: 100%;
  max-height: 290px;
  display: block;
}

.product-sku {
  border: 3px double rgb(167, 117, 117) ;
  display: inline;
}

.image-detail {
  width: 30%;
  height: 25rem;
  display: block;
  border: 3px solid #ccc;
  border-radius: 20px;
}

.product-name {
  font-size: 1.2rem;
  margin-top: 10px;
}

.android{
  width: 40px;
  height: 35px;
}

.apple{
  width: 40px;
  height: 35px;
}

.cel2{
  width: 40px;
  height: 35px;
}

.cel1{
  width: 40px;
  height: 35px;
}


